[Unit]
Description=Monthly Homelab Archive Timer

[Timer]
OnCalendar=*-*-01 05:00:00
Persistent=true
RandomizedDelaySec=15m
Unit=homelab-monthly-archive.service

[Install]
WantedBy=timers.target
